# using python 3.10 specefically for mediapipe compatibility
# Core Matrix Operations & Math
numpy

# Computer Vision & Image Preprocessing
opencv-python

# Deep Learning Framework (Tensors & DataLoaders)
torch
torchvision

transformers
chromadb
pillow
